<div class="d-flex justify-content-flex-start m-lg-4 flex-column home-wrapper">
  <form [formGroup]="searchForm" class="form-group">
    <div class="input-group">
      <input
        autocomplete="off"
        class="form-control"
        id="search"
        formControlName="searchTerm"
        placeholder="Search a classroom.."
      />
    </div>
  </form>
 <app-classroom-list [classrooms]="(classrooms$ | async) ?? []"></app-classroom-list>
  <button
    class="button green-button"
    style="width: 300px; align-self: center"
    (click)="onClick()"
  >
    {{ label }}
  </button>
</div>
<router-outlet></router-outlet>
