<div class="d-flex  justify-content-flex-start m-lg-4 flex-column home-wrapper" >
  <form [formGroup]="searchForm" class="form-group">
    <div class="input-group">
      <input class="form-control" id="search" formControlName="searchTerm" placeholder="Search a classroom.."/>
    </div>
  </form>
    <!-- TODO: handle loading state -->
    <div class="d-flex align-items-center justify-content-center flex-wrap">
      <div *ngFor="let result of (searchResults$ | async)">
        <!-- Display your search results here -->
        <app-classroom-card [classroom]="result" />
      </div>
      <div *ngIf="!(searchResults$ | async)?.length">
        <h3>No results found</h3>
      </div>
  </div>
  <button class="btn btn-primary rounded-2 p-3" (click)="onClick()">{{label}}</button>
</div>
