<div class="d-flex align-items-center justify-content-center m-lg-4 flex-column home-wrapper" >
  <div class="d-flex align-items-center justify-content-center flex-wrap">
    <div *ngFor="let classroom of (classrooms$ | async)">
      <app-classroom-card [classroom]="classroom" />
    </div>
  </div>
  <div *ngIf = "this.authService.isTeacher$ | async">
    <button class="btn btn-primary rounded-2 p-3" (click)="onTeacherClick()">{{'Add a classroom'}}</button>
  </div>
  <div *ngIf = "!(this.authService.isTeacher$ | async)">
    <button class="btn btn-primary rounded-2 p-3" (click)="onStudentClick()">{{'Enroll in a classroom'}}</button>
  </div>
</div>
