<!-- task-list.component.html -->
<div *ngIf="tasks.length > 0; else emptyState">
  <div *ngFor="let task of tasks">
    <app-task_assignment-card
      [path]="'/task/' + task.id"
      [task]="task"
    ></app-task_assignment-card>
  </div>
</div>
<ng-template #emptyState>
<div *ngIf="!inCard" >
  <app-empty-list-placeholder [type]="'task'" [user]="(authService.isTeacher$ | async)? 'teacher' : 'student'"></app-empty-list-placeholder>

</div>
  <div *ngIf="inCard">NO Tasks Yet </div>

</ng-template>

