<div *ngIf="assignment" [ngStyle]="{'display':'flex','flex-direction': 'column', 'justify-content':'center','align-items':'center','margin':'50px 0px'}">

  <div [ngStyle]="{'width':'80%'}">
    <app-element-details
            (editModeChange)="toggleEditMode($event)"
            [elementType]="'assignment'"
            [element]="assignment"
            [editMode]="editMode"
            (deleteElement)="deleteAssignment()"
            [isTeacher]="(this.authService.isTeacher$ | async) || false "
    > </app-element-details>
  </div>
    <ng-container *ngIf="!isTeacher && !studentResponse">
      <br />
      <form
        [ngStyle]="{'flex-direction': 'column','display':'flex','gap':'10px',width:'80%'}"
        [formGroup]="submitAssignmentForm"
        (ngSubmit)="onSubmit()">
        <label for="description">Description: </label>
        <textarea  [ngStyle]="{'border-radius':'10px'}" id="description" type="text" formControlName="content"></textarea>
        <div [ngStyle]="{'display':'flex','justify-content':'center'}">
          <div *ngIf="submitAssignmentForm.errors?.['minlength']">
            Name must be at least 4 characters long.
          </div>
          <button [ngStyle]="{'border-radius':'10px'}" type="submit" [disabled]="!submitAssignmentForm.valid">Submit</button>

        </div>

      </form>
    </ng-container>
    <ng-container *ngIf=" responsesAssignment.length > 0 &&  isTeacher ">
      <form [formGroup]="scoreForm" [ngStyle]="{width:'100%',}">
        <ng-container formArrayName="responses">
          <div *ngFor="let response of responses.controls; let i = index" [formGroupName]="i"
               [ngStyle]="{'gap':'10px',width:'100%','align-items':'center',display:'flex','flex-direction':'column'}">
           <div [ngStyle]="{'border-radius':'10px',border:'1px black solid',padding:'5px 10px',width:'80%','margin-bottom':'10px'}" >
             <h4>Student Name</h4>
             <span>{{ response.get('content')?.value }}</span>
             <div [ngStyle]="{display:'flex', gap:'5px', 'flex-direction':'column', 'align-items':'flex-end'}">
               <div>
                 <span>Score:</span>
                 <ng-container *ngIf="!response.get('validated')" >
                   <input type="number" placeholder='points'
                          formControlName="score"
                          [ngStyle]="{'border-radius':'10px', width:'80px', 'margin-left':'5px', padding:'0px 5px'}"
                   />
                   <button
                     class="btn btn-rounded"
                     style="background-color: orange;margin-top: 10px;margin-bottom: 10px; border-radius: 20px;width:100px"                       (click)="onScoreChange(i)"
                   > Validate </button>
                 </ng-container>
                 <ng-container *ngIf="response.get('validated')" >
                   <span>
                      {{ response.get('score')?.value }}
                   </span>

                 </ng-container>


               </div>

             </div>
      </div>

    </div>
        </ng-container>
      </form>
  </ng-container>
    <div  [ngStyle]="{'width':'80%'}"  *ngIf="studentResponse && !isTeacher " >
      <h2>Your submission: </h2>
      <span>{{studentResponse?.content}}</span>
      <div class="d-flex justify-content-end w-100">
        <span>
          score : {{studentResponse?.score}}
        </span>
      </div>


    </div>


</div>
