<div class="modal-content">
  <form [formGroup]="classroomForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Classroom Name</label>
      <input type="text" class="form-control" formControlName="name" />
      <div class="text-danger" *ngIf="classroomForm.get('name')?.hasError('required')">Classroom Name is required</div>
    </div>

    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" formControlName="description"></textarea>
      <div class="text-danger" *ngIf="classroomForm.get('description')?.hasError('required')">Description is required</div>
    </div>

    <div class="button-container">
      <button type="submit" class="btn btn-primary" [disabled]="false">
        Submit
      </button>
      <button type="button" class="btn btn-secondary" (click)="onClose()">Cancel</button>
    </div>
  </form>
</div>
