<!-- student.component.html -->
<div style="display: flex; flex-direction: column ; align-self: start ; align-content: start; padding-top: 10px;width: 100%">
  <h4>Teacher :</h4>
  <div class="student">
    <app-avatar
      [name]="'nada'"
      [avatarColor]="'green' "
    ></app-avatar>
    <div class="card-body">
      <div class="name">{{ users?.teacher?.name}}</div>
      <div class="email">{{ users?.teacher?.email}}</div>
    </div>
  </div>
  <h4>Students :</h4>
  <div *ngIf="users?.students?.length===0">
    <app-empty-list-placeholder
      [user]="(authService.isTeacher$ | async) ? 'teacher' : 'student'"
      [type]="'students'"
    ></app-empty-list-placeholder>
  </div>
      <ul
        style="
      list-style-type: none;
      padding: 0;
      display: flex;
      flex-direction: column;
    "
        *ngFor="let student of users?.students "
      >
          <li class="student">
            <app-avatar
              [name]="student?.name ?? ''"
              [avatarColor]="student?.avatar_color ?? 'red' "
            ></app-avatar>
            <div class="card-body">
              <div class="name">{{ student.name ?? '' }}</div>
              <div class="email">{{ student.email ?? '' }}</div>
            </div>
          </li>
          <div class="divider"></div>
    </ul>
  </div>

