<div>
  <footer>
    <div class="footer-container">
      <div class="footer-content">
        <a class="footer-link" href="#"> {{ "social media" | translate}} </a>
        <a class="footer-link" href="#"> {{ "FAQs"|translate}} </a>
        <a class="footer-link" href="#"> {{ "Privacy Policy" |translate }} </a>
        <a class="footer-link" href="#"> {{ "Contact us"|translate }}  </a>
        <a class="footer-link" href="#"> {{ "About us"|translate}} </a>
        <a class="footer-link" href="#"> {{ "Terms of Service"|translate}} </a>
      </div>
    </div>
  </footer>
</div>
